

<div style="width: 20px; height: 20px; margin: 5px;">
    {% case icon %}
        {% when 'instagram' %}
            {% render 'icon-instagram' %}
        {% when 'tiktok' %}
            {% render 'icon-tiktok' %}
        {% when 'facebook' %}
            {% render 'icon-facebook' %}
    {% endcase %}
</div>