<div >
  <div class="img-box">
    <picture>
      <source media="(max-width: 599px)" srcSet={https://cdn.shopify.com/s/files/1/0708/5539/3571/files/Mobile.png?v=1686579420} />
      <source media="(max-width: 2049px)" srcSet={https://cdn.shopify.com/s/files/1/0708/5539/3571/files/Desktop.png?v=1686579405} />
  </picture>
  </div>
</div>
{%- style -%}
.img-box{
  background-image: url('https://cdn.shopify.com/s/files/1/0708/5539/3571/files/Mobile.png?v=1686579420');
}
@media screen and (max-width: 612px) {
  .img-box{
    background-image: url('https://cdn.shopify.com/s/files/1/0708/5539/3571/files/Desktop.png?v=1686579405');
  }
}

{%- style -%}
<style>
  .img-box{
    width: 700px;
    min-height: 700px;
height: auto;
background-image: url('');
background-size: 100% 100%;
}
</style>
{% schema %}
{
  "name": "img",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "image_picker",
    "id": "image_1",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image_2",
    "label": "Image mobile"
  }
  ],
  "presets": [
    {
      "name": "img"
    }
  ]
}
{% endschema %}
